<h2>Welcome to the Character Generator!</h2>
<%= button_to "Create New Character", new_character_path, method: :get %>
<section class='created-characters'>
    <p>Created Characters: </p>
    <% @characters.each do |character| %>
        <li><%= link_to character.name, character_path(character.id) %></li>
    <% end %>
</section>